[Unit]
Description=Throwing Bagels Launcher

[Service]
WorkingDirectory=/opt/ThrowingBagels
ExecStart=/opt/ThrowingBagels/launcher
KillMode=control-group
After=proc-sys-fs-binfmt_misc.automount

[Install]
WantedBy=multi-user.target