[Unit]
Description=Throwing Bagels Launcher
After=proc-sys-fs-binfmt_misc.automount

[Service]
WorkingDirectory=/opt/ThrowingBagels
ExecStart=/opt/ThrowingBagels/launcher
KillMode=control-group

[Install]
WantedBy=multi-user.target