[Unit]
Description=ThrowingBagels UDP Receiver
After=proc-sys-fs-binfmt_misc.automount

[Service]
WorkingDirectory=/opt/ThrowingBagels
ExecStart=/opt/ThrowingBagels/launcher bin/led-udp-rx
KillMode=control-group

[Install]
WantedBy=multi-user.target