[Unit]
Description=Throwing Bagels Multidemo
After=proc-sys-fs-binfmt_misc.automount

[Service]
WorkingDirectory=/opt/ThrowingBagels
ExecStart=/opt/ThrowingBagels/launcher bin/multidemo
KillMode=control-group

[Install]
WantedBy=multi-user.target
